{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "max-len": ["warn", { "code": 120 }],
    "class-methods-use-this": "off",
    "no-undef": "error",
    "prefer-const": "warn"
  },
  "globals": {
    "document": "readonly",
    "window": "readonly",
    "localStorage": "readonly",
    "navigator": "readonly",
    "IntersectionObserver": "readonly",
    "requestAnimationFrame": "readonly",
    "io": "readonly"
  }
}
